name: Postman Tests

on:
  push:
    branches: [main]

jobs:
  run-postman:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Postman Tests
        run: docker-compose run --rm postman-tests
